.blockContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1.25% 3%;
  border-bottom: 1px solid white;
}

.blockItem {
  font-size: large;
  cursor: pointer;
  padding: 1px 20px;
}

.blockItem:hover {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
}

.heading {
  width: 100%;
  text-align: start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: x-large;
  padding-left: 2%;
}

.projectContainer {
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  box-sizing: border-box;
  padding-left: 3%;
}

.projectContainer::-webkit-scrollbar {
  width: 12px;
  background-color: inherit;
}

.projectContainer::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}

.projectContainer::-webkit-scrollbar-button {
  display: none;
}
