.mainContainer {
    width: 100%;
    display: flex;
}

.ulContainer {
    width: 100%;
    background-color: black;
}

.liContainer {
    width: 100%;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 3vh;
    padding: 15px 30px;
    cursor: pointer;
}